html, body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana,sans-serif;
}
div {
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    min-width: 500px;
    font-size: 14px;
    height: 100vh;
    padding: 10px;
}
.main {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    flex: 3;
    padding: 5px;
}
.aside {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    min-width: 150px;
    max-width: 250px;
    padding: 5px;
}

@media all and (max-width: 700px) {
    .aside {
        flex-basis: 74px;
        min-width: 74px;
    }
}

#tbxSearch {
    width: 100%;
}

.friend_chat {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 5px;
    vertical-align: middle;
    word-wrap: break-word;
    box-sizing: border-box;
}

.friend_chat .img img {
    max-width: 40px;
    max-height: 40px;
    border: 0;
}

.titleBar {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    width: 100%;
}
.chatBar {
    margin: 5px;
    width: 100%;
}
#tbxChat {
    width: 100%;
}

.scrollbar {
    overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar {
    width:8px
}
::-webkit-scrollbar {
    width:12px
}
::-webkit-scrollbar-track {
    background:#fff;
    -webkit-box-shadow: inset 1px 1px 2px #e0e0e0;
    border: 1px solid #d8d8d8;
    border-radius:20px
}
::-webkit-scrollbar-thumb {
    background:#2f266d;
    -webkit-box-shadow:inset 1px 1px 2px rgba(155,155,155,.4);
    border-radius:20px
}
::-webkit-scrollbar-thumb:hover {
    background:#aaa
}
::-webkit-scrollbar-thumb:active {
    background:#888;
    -webkit-box-shadow:inset 1px 1px 2px rgba(0,0,0,.3)
}

.chat_msg {
    padding: 5px;
    border-top: 1px solid rgb(195, 213, 214);
}
.chat_txt {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
.user_ava {
    display: inline-block;
    vertical-align: top;
}

#users a {
    display: inline-block;
}

span.img {
    width: 50px;
    height: 40px;
    float: left;
}

a img {
    max-width: 40px;
    max-height: 40px;
    font-size: 8pt;
}

a span.last_msg {
    font-weight: 400;
    color: #000;
    font-size: 7pt;
    font-style: italic;
}